DATABASE_URL=postgres://user:password@localhost:5432/database_name?sslmode=disable

NEXTAUTH_SECRET="randomstring"

EMAIL_SERVER=smtp://username:password@smtp.sendgrid.net:587/bluextrade.com
EMAIL_FROM=noreply@bluextrade.com

S3_BUCKET=bucketname
AWS_ACCESS_KEY_ID=keyid
AWS_SECRET_ACCESS_KEY=key
AWS_REGION=us-west-2

BU_SERVER_API_KEY=key
